Repository kettil/ts-toolbox, changes with the labels that .github/labeler.yml gives for each.
All labels: test, documentation, package/commitlint-config, package/errors, package/eslint-config, package/semantic-release-config, package/tools, package/types

.github/labeler.yml:

test:
  - packages/*/tests/**/*"

documentation:
  - README.md
  - docs/**/*
  - packages/*/README.md
  - packages/*/docs/**/*

package/commitlint-config:
  - packages/commitlint-config/**/*

package/errors:
  - packages/errors/**/*

package/eslint-config:
  - packages/eslint-config/**/*

package/semantic-release-config:
  - packages/semantic-release-config/**/*

package/tools:
  - packages/tools/**/*

package/types:
  - packages/types/**/*

chore: fix the package names in the README
  README.md
Labels: documentation

chore(errors): update the README title
  packages/errors/README.md
Labels: documentation, package/errors

feat(errors): add a customAggregateError feature
  packages/errors/README.md
  packages/errors/src/index.ts
  packages/errors/src/lib/customAggregateError.ts
  packages/errors/src/lib/customAggregateErrorAbstract.ts
  packages/errors/src/lib/customErrorAbstract.ts
  packages/errors/src/lib/defaultErrors/genericAggregateError.ts
  packages/errors/src/lib/defaultErrors/index.ts
  packages/errors/src/lib/isCustomAggregateError.ts
  packages/errors/src/lib/normalizeErrorInstance.ts
  packages/errors/src/lib/types/customAggregateErrorClass.ts
  packages/errors/src/lib/types/customAggregateErrorParameter.ts
  packages/errors/src/lib/types/customAggregateErrorProps.ts
  packages/errors/src/lib/types/customErrorJson.ts
  packages/errors/src/lib/types/normalizeErrorObject.ts
  packages/errors/tests/unit/index.test.ts
  packages/errors/tests/unit/libs/defaultErrors.test.ts
  packages/errors/tests/unit/libs/isCustomAggregateError.test.ts
  packages/errors/tests/unit/libs/isCustomError.test.ts
  packages/errors/tests/unit/libs/isError.test.ts
Labels: documentation, package/errors

feat(errors): add a customAggregateError feature
  packages/errors/README.md
  packages/errors/src/index.ts
  packages/errors/src/lib/customAggregateError.ts
  packages/errors/src/lib/customAggregateErrorAbstract.ts
  packages/errors/src/lib/customErrorAbstract.ts
  packages/errors/src/lib/defaultErrors/genericAggregateError.ts
  packages/errors/src/lib/defaultErrors/index.ts
  packages/errors/src/lib/isCustomAggregateError.ts
  packages/errors/src/lib/normalizeErrorInstance.ts
  packages/errors/src/lib/types/customAggregateErrorClass.ts
  packages/errors/src/lib/types/customAggregateErrorParameter.ts
  packages/errors/src/lib/types/customAggregateErrorProps.ts
  packages/errors/src/lib/types/customErrorJson.ts
  packages/errors/src/lib/types/normalizeErrorObject.ts
  packages/errors/tests/unit/index.test.ts
  packages/errors/tests/unit/libs/defaultErrors.test.ts
  packages/errors/tests/unit/libs/isCustomAggregateError.test.ts
  packages/errors/tests/unit/libs/isCustomError.test.ts
  packages/errors/tests/unit/libs/isError.test.ts
Labels: documentation, package/errors

fix(tools): remove the isString extension, because it can lead to incorrect type checking
  packages/tools/src/is/isString.ts
  packages/tools/tests/unit/is/isString.test.ts
Labels: package/tools

fix(errors): isString() structure was changed and the package must be adjusted
  packages/errors/src/lib/getErrorMessage.ts
Labels: package/errors

chore(release): 1.0.0 [skip ci]
  packages/errors/CHANGELOG.md
  packages/errors/package.json
Labels: package/errors

Notes added by 'git notes add'
  828563eb664f3aad7b479025f84a7931cbb5e428
Labels: none

chore(release): 4.3.0 [skip ci]
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Labels: package/eslint-config

Notes added by 'git notes add'
  9343c49d2e107e7aa13b0307b533b6143a8b940e
Labels: none

chore(release): 4.1.0 [skip ci]
  packages/tools/CHANGELOG.md
  packages/tools/package.json
Labels: package/tools

Notes added by 'git notes add'
  85acb18495d534c18c298ca056d4e2f77b20ae2a
Labels: none

chore(release): update package-lock.json [skip ci]
  package-lock.json
Labels: none

chore(release): 4.3.1 [skip ci]
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Labels: package/eslint-config

Notes added by 'git notes add'
  d207e5866ff24d60c8505d948156b92ae4bb6f77
Labels: none

chore(release): update package-lock.json [skip ci]
  package-lock.json
Labels: none
